@import "../../fonts.scss";

*, *::after, *::before {
  box-sizing: border-box;
}

.board {
  background-color: #e8dba4;
  width: 500px;
  height: 500px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  .score {
    position: absolute;
    top: -50px;
    left: 0;
    color: white;
    font-family: "Just Me Again Down Here";
    font-size: 2rem;
  }

  .death {
    position: absolute;
    top: 100%;
    right: 0;
    color: white;
  }
}

.gameIsOver {
  background-color: #8B9B5F; ;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 60;
  padding-bottom:350px;


  .tree {
      width: 100%;
      height: 300px;
      background-image: url('../../assets/images/buisson.png');
      background-size: cover;
      background-position: center;
      position: absolute;
      bottom: 0px;
      z-index: 60;
  }

  .snake{
    width: 500px;
    height: 500px;
    z-index: 80;
    background-image: url('../../assets/images/snake.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 80;
  }
}